<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="open.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/github"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMain">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.zxing.ZxingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".zxing.CaptureActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.htttp.HttpActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.UiActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.htttp.Http3Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.video.VideoConfigActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="mabeijianxi.camera.MediaRecorderActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.video.SendSmallVideoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.video.VideoPlayerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.TimeSelectorActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.db.GreenDaoActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.image.ImagCompressActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>