<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="open.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/github"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DayThemeMain">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.zxing.ZxingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".zxing.CaptureActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.htttp.HttpActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.UiActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.htttp.Http3Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.TimeSelectorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.db.GreenDaoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.image.ImagCompressActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.MPAndroidChartActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.chart.LineChartActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.chart.BarChartActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.chart.HorizontalBarChartActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.chart.PieChartActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.chart.RadarChartActivitry"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.BannerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.SwipeToLoadLayoutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ui.CrossXwalkActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mabeijianxi.smallvideorecord2.MediaRecorderActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.video.VideoConfigActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.video.SendSmallVideoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.video.VideoPlayerActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.opencv.OpenCVActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.opencv.ImageManipulationsActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"/>
    </application>


    <!-- OpenCV -->
    <!-- 用于精确获取屏幕密度 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>

</manifest>